<h1>Painting Gallery <%= @user.id %></h1>
<div id="paintings">
  <%= render @paintings %>
</div>

<%= form_for Painting.new do |f| %>
    <%= f.label :image, "Upload images:" %>
    <%= f.file_field :image, multiple: true, name: "painting[image]",  user_id: @user.id%>
<% end %>

<div id="center" >
  <input type="button" id="order" value="Заказать"/>
  <div style="display:none;">
    <%= button_to "Заказать", {controller: "payments",action: "order"},
                  {:remote => false, :id => 'lnk_more'}%>
  </div>
  <div>
    <input type="button" id="deleteImage" value="deleteImage"/>
    <input type="range" id="opacity" min="0" max="1" step="0.1" value="0.5">
    <input type="button" id="template1" value="template1"/>
    <input type="button" id="template2" value="template2"/>
    <input type="button" id="template3" value="template3"/>
    <input type="button" id="template4" value="template4"/>
    <input type="button" id="template5" value="template5"/>
    <input type="button" id="template6" value="template6"/>
    <input type="button" id="template7" value="template7"/>
    <input type="button" id="template8" value="template8"/>
  </div>
  <div id="canvas-container" style="width: 500px; height: 500px;">
    <canvas id="canvas" width="500" height="500" >
    </canvas>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
{%=o.name%}
<div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>