<h1>order</h1>
<%= form_tag(controller: "payments" ,action: "afterPay", method: "post") do %>
    <%= image_tag (cookies['image_user_token']+"_thumb.png") %>
    <label>Цена : </label>
    <%= text_field_tag 'cost', '1000', :readonly => true %>
    <label>*</label>
    <%= text_field_tag 'count', '1', :readonly => true %>
    <input type="button" id="plus_count" value="+"/>
    <input type="button" id="minus_count" value="-"/>
    <label>=</label>
    <%= text_field_tag 'finalCost', '1000', :readonly => true %>
    <!--<%=label(:cost, :title1, "1000", id: "finalCost")%>-->
    <br/>
    <%= label_tag(:fio, "Фамилия Имя") %>
    <%= text_field_tag(:fio) %>
    <%= label_tag(:phone, "Телефон") %>
    <%= text_field_tag(:phone) %>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:address, "Адрес доставки") %>
    <%= text_field_tag(:address) %>
    <%= label_tag(:post, "Почтовый индекс") %>
    <%= text_field_tag(:post) %>
    <%= label_tag(:comment, "Комментарий") %>
    <%= text_field_tag(:comment) %>
    <%= submit_tag("Оплатить") %>
<% end %>
<div id="stack1" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Stack One</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
    <p>One fine body…</p>
    <p>One fine body…</p>
    <input type="text" data-tabindex="1">
    <input type="text" data-tabindex="2">
    <button class="btn" data-toggle="modal" href="#stack2">Launch modal</button>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>
<div class="text-center">
  <button class="demo btn btn-primary btn-large" data-toggle="modal" href="#stack1">View Demo</button>
</div>